.p-title {
  .en {
    font-size: 50px;

    &::before {
      height: 40px;
      width: 40px;
    }

    &::after {
      width: 120px;
    }
  }

  .ja {
    font-size: 26px;
  }
}

.c-subTitle {

  & .en {
    top: -54px;
    font-size: 88px;
  }

  & .ja {
    font-size: 32px;
  }
}

.top-view {
  margin-top: 100px;

  .hero {
    &__text {
      h2 {
        font-size: 58px;
      }

      &::after {
        left: 236px;
        bottom: 190px;
      }
    }
  }
}

.c-topview {
  margin-top: 100px;

  .c-title {
    .en {
      font-size: 54px;

      &::before {
        height: 50px;
        width: 50px;
      }
    }

    .ja {
      font-size: 28px;
    }
  }
}

.p-news {
  &__date {
    font-size: 24px;
  }

  &__content {
    font-size: 24px;
  }
}

.p-header {

  .mobile-container,
  .mobile-menu {
    display: none;
  }
}

// * * * * * * * * * お知らせ一覧 * * * * * * 
.news-wrapper {
  .c-title {
    padding-bottom: 50px;
  }
}

// * * * * * * * * * よくあるご質問 * * * * * * 
.faq-wrapper {
  .faq-contents {
    .c-container {
      padding: 0 20vw;
    }

    .faq {
      &__title {
        margin-bottom: 5vw;
      }

      &__block {

        & dt,
        & dd {
          & .c-txt-md {
            font-size: 24px;
          }
        }
      }

      & dt {
        padding: 0 0 2vw 0;

        span {
          &::after {
            height: 24px;
          }
        }
      }

      & .c-title {
        font-size: 26px;
      }

      & .c-txtarea01 {

        & .c-txt-sm {
          font-size: 20px;
        }
      }

      & .c-txt-sm {
        font-size: 24px;
      }
    }
  }
}